
<h1>{{slide.subTitle}}</h1>
<img src="http://41.media.tumblr.com/7adcf11c0aa692d5c8762f124d0dbbfc/tumblr_nt93v9TIdp1ted1sho1_1280.jpg" alt="" style="float:left; margin-right: 20px;margin-top: 20px;margin-bottom: 20px;" width="300">
<p>{{slide.textContent}}</p>

<dl>
  <dt>Dados da tela:</dt>
  <dd>index: {{slide.index}}</dd>
  <dd>template: {{slide.templateFile}}</dd>
</dl>
<div class="row">
  <div class="col span_1"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae esse quasi quam harum rerum voluptatibus veritatis debitis eaque eos amet ipsam eius quo, nostrum, temporibus odio ducimus doloremque dignissimos molestiae iure. Assumenda placeat beatae dolor itaque distinctio voluptatum cumque.</p></div>
  <div class="col span_1"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae esse quasi quam harum rerum voluptatibus veritatis debitis eaque eos amet ipsam eius quo, nostrum, temporibus odio ducimus doloremque dignissimos molestiae iure. Assumenda placeat beatae dolor itaque distinctio voluptatum cumque.</p></div>
  <div class="col span_1"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae esse quasi quam harum rerum voluptatibus veritatis debitis eaque eos amet ipsam eius quo, nostrum, temporibus odio ducimus doloremque dignissimos molestiae iure. Assumenda placeat beatae dolor itaque distinctio voluptatum cumque.</p></div>
  
</div>


<br>
<br>
<br>
<hr>
<small>arquivo rotanova.html</small>


